/* details section */
.details{
    margin-top: 2rem;
}

.details-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

/* Student image */
.student-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-top: 20px;
}

/* Student name */
.student-name{
    font-size: 3rem;
    font-weight: 600;
    margin-top: 10px;
}

/* Student details table */
.basic-details-table {
    width: 800px;
    margin-top: 50px;
    font-size: 18px;
    /* border: 1px solid #343a40; */
    border-collapse: collapse;
}

td {
    /* border: 1px solid #343a40; */
    padding: 16px 24px;
    text-align: left;
    color: #fff;
}

#r2 td{
    background-color: #353d4c;
}

/* Student right side */
.student-actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.welcome-student{
    font-size: 3.6rem;
    font-weight: 500;
    margin-top: 2rem;
}

/* dashboard buttons */
.student-btns{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4.8rem;
}